//Fonts
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap);

//colors
$white:  #ffffff;
$black:  #0a0a0a;
$gray:   #626262;
$green:  #19ABB7;
$blue:   #e7f7f8;
$yellow: #FFC200;

//Mixins Border-radius
@mixin border-radius($radius) {
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
}

//Mixins Shadows
@mixin box-shadow () {
    -webkit-box-shadow: 0 5px 6px -6px #777;
    -moz-box-shadow: 0 5px 6px -6px #777;
    box-shadow: 0 5px 6px -6px #777;
  }

//buttons
.btn-client {
    background-color: $yellow;
    color: $black;
    @include box-shadow(); 
    transition: all 0.3s;
    &:hover {
        background-color: $black;
        color: $white;
    }    
}

//body 
body {
    font-family: 'Roboto', sans-serif;
}

//header
header {
    .bg-client {
        background-color: $green !important;
        .navbar-nav {
            .nav-item {
                margin: auto 24px;
                .nav-link {
                    color: $white;
                    transition: all 0.3s;
                    &:hover {
                        text-decoration: underline;
                    }
                }
                &:nth-child(2){
                    margin-right: 0;
                }
            }
        }
    }
}

//carousel
#carousel-client {
    .carousel-caption {        
        right: 5%;
        left: 5%;
        text-align: left;
    }
}

//Midia Query
@media (max-width: 767px) {
    .navbar-brand {
        img {
            max-width: 180px;
            height: auto;
        }
    }
    .navbar-collapse{
        .navbar-nav {       
            margin-right: auto;
            text-align: center;
            padding-bottom: 12px;;         
            .nav-item {
                margin: 6px 0 !important;                         
            }                
        }        
    }
}